.about {
    display: flex;
    height: auto;
    border-bottom: 0.5px solid $primaryColor;
    background-color: $offWhite;

    div.me {
        width: 50%;
        min-width: 550px;
        height: auto;

        border-left: 0.5px solid $primaryColor;
    }


    p {
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.8px;
        font-weight: 300;

        margin: 3rem;
        margin-right: 5vw;
    }

    a {
        text-transform: lowercase;
        font-family: $bodyFont;
        color:#800080;
        padding: 0.2rem;

        &:hover,
        &:focus {
            text-decoration: underline;
            background: #fcddfc;
        }
    }
}

.ethereal {
    position: relative;
    cursor: pointer;
    display: block;
    height: auto;
    width: 50%;
    flex-shrink: 2;

    p {
        position: absolute;
        top: -3.5rem;
        right: 0;
        padding: 0.5rem;
        font-size: 1.6rem;
        font-style: italic;
        background: white;
        @include transition;
        
        border: 0.5px solid $primaryColor;
        opacity: 0;
    }

    &:hover,
    &:focus {
        box-shadow: inset 0 0 9rem $darkAccent;

        p {
            opacity: 1;
        }
    }


    img {
        position: absolute;
        min-width: 100%;
        height: 100%;
        opacity: 0
    }
}

.ethereal.show {
    overflow: hidden;

    img {
        opacity: 1;
    }
}