.about {
    display: flex;
    justify-content: flex-end;
    border-bottom: 0.5px solid $primaryColor;
    background-color: $offWhite;

    div {
        width: 50%;
        min-width: 550px;
        

        border-left: 0.5px solid $primaryColor;
    }


    p {
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.8px;
        font-weight: 300;

        margin: 30px;
        margin-right: 5vw;
    }

    a {
        text-transform: lowercase;
        font-family: $bodyFont;
        color:#800080;

        &:hover {
            text-decoration: underline;
        }
        &:focus {
            outline: 1px solid #800080;
        }
    }
}