.contact {
    display: grid;
    grid-template-columns: 10rem 1fr 0.1fr 1.1fr 0.1fr;
    grid-template-rows: 7rem 1fr 1fr 1fr 7rem 7rem;
    grid-template-areas: 
    "long-box long-box long-box long-box long-box"
    ".      form       .   .    ."
    ".  form      .   social    ."
    ".  form   .   social    ."
    ".      form       .       .    .";


    .long-box {
        grid-area: long-box;
    }
}

.social {
    grid-area: social;

    border-top: 0.5px solid $primaryColor;
    border-right: 0.5px solid $primaryColor;

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    li {
        height: 15rem;

        border-bottom: 0.5px solid $primaryColor;
        border-left: 0.5px solid $primaryColor;
    }

    a {
        font-size: calc(1.5rem + 0.5vw);
        letter-spacing: 2px;

        display: inline-block;
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 6rem 1rem;

        &:hover,
        &:focus {                       
            background: $gradientPool;
            background-size: 400% 400%;
            animation: Gradient 15s ease infinite;   
        }
    }

    li:nth-child(6) {
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition;

        &:hover,
        &:focus {
            background: $lightAccent;

            .plant-shape {
                opacity: 1;
            }
        }
    }

    li:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus {
            .plant-branch {
                opacity: 1;
            }
        }
    }
}



form {
    grid-area: form;

    display: flex;
    flex-direction: column;

    font-size: calc(1.5rem + 0.5vw);

    border: 0.5px solid $primaryColor;
    margin-top: 15px;
}

input,
textarea {
    font-family: $bodyFont;
    color: $primaryColor;
    padding: 13px;
    background-color: $offWhite;

    border: none;
    border-bottom: 0.5px solid $primaryColor;

    @include transition;

    &:hover,
    &:focus {
        background: $lightAccent;
    }
}

textarea {
    resize: none;
    flex-grow: 1;
}

.contact button {
    font-family: $headingFont;
    text-transform: uppercase;
    font-size: calc(3rem + 1vw);
    text-align: left;
    padding: 13px 13px 7px 13px;
    color: $primaryColor;
    background: $offWhite;

    border: none;

    &:hover,
    &:focus {
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: darken($primaryColor, 10%);
        text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black; 
        
        background: $gradientPool;
        background-size: 400% 400%;
        animation: Gradient 15s ease infinite;
        
    }
}

::placeholder {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $primaryColor;
    opacity: 1;
}

.plant-shape {
    opacity: 0;
    width: 10rem;
}

.plant {

    fill: white;
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 3px;

    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: draw 2.5s linear infinite;   
}

.plant-branch {
    width: 10rem;
    opacity: 0;

    path{
        fill: $lightAccent;
        stroke: black;
        stroke-miterlimit: 10;
        .cls {
            stroke-width: 1px;
        }
        .cls-2 {
            stroke-width: 0.5px;
        }
    }
}