footer {
    padding: 10px;
    text-align: center;
    background: linear-gradient(180deg, rgba(245,245,245,1) 20%, rgba(206,246,255,1) 100%);

    a {
        font-family: $bodyFont;
        font-size: 2rem;
        letter-spacing: 1px;
        padding: 0.5rem;                                                             

        &:hover, 
        &:focus {
            color: darken($darkAccent, 40%);
        }

        &:focus {
            border: 1px solid darken($darkAccent, 20%);
            text-shadow: 0.5px 0.5px 0.5px $primaryColor, -0.5px -0.5px 0.5px $primaryColor, -0.5px 0.5px 0.5px $primaryColor, 0.5px -0.5px 0.5px $primaryColor;
        }
    }
}