footer {
    padding: 10px;
    text-align: center;
    background: linear-gradient(180deg, rgba(245,245,245,1) 20%, rgba(206,246,255,1) 100%);

    a {
        font-family: $bodyFont;
        font-size: 1.8rem;
        letter-spacing: 1px;
    }
}