html {
    font-size: 62.5%;
    color: $primaryColor;
    font-family: $bodyFont;
    background-color: $offWhite;

    * {
        margin: 0;
        padding: 0;
    }

    &.no-scroll {
        position: fixed;
    }
}

body {
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;

    border: 0.5px solid $primaryColor;
}

ul  {
    list-style-type: none;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: $primaryColor;  
    font-family: $headingFont;
}

//general li styles main-nav, mobile-nav and social 
li {
    display: flex;
    font-size: calc(1.6rem + 0.5vw);
    letter-spacing: 1px;
    font-weight: 400;
    
    a {
        display: inline-block;
        width: 100%;
        height: 100%;

        &:hover,
        &:focus {
        background: $gradientPool;
        background-size: 400% 400%;
        animation: Gradient 15s ease infinite;

        color:white;
        text-shadow: 0px 0px 2px black;
    }
    }
}

main h2 {
    font-family: $headingFont;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 2px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $primaryColor;
}

h3 {
    font-family: $bodyFont;
    text-transform: uppercase;
    font-size: calc(1.7rem + 0.5vw);
    letter-spacing: 2px;
    font-weight: 400;
}

.long-box {
    grid-area: long-box;

    padding: 10px 110px;
    border-bottom: 0.5px solid $primaryColor;

    background-color: $lightAccent;
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}