header {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1.5fr;
    grid-template-rows: 11.6rem 2fr 2fr 7rem;
    grid-template-areas: 
    "header     header      nav"
    "header     header      big-box"
    "small-box   h2      big-box"
    "long-box       long-box        long-box";
    
    height: 70vh;
    min-height: 500px;
    max-height: 660px;
    
    .small-box {
        grid-area: small-box;
    }
    
    .big-box {
        grid-area: big-box;
        position: relative;
    }
    
    .long-box {
        grid-area: long-box;
        
        border-top: 0.5px solid $primaryColor;
    }
} 

.window {
    position: absolute;
    top: 0;

    display: flex;
    flex-wrap: wrap;

    height: 100%;
    width: 100%;

    div {
        width: calc(100% / 3);
        border-right: 0.1px solid $primaryColor;

        @include transition;

        &:nth-of-type(3),
        &:last-of-type {
            border-right: none;
        }

        &:nth-of-type(n+4) {
            border-top: 0.5px solid $primaryColor;
        }
    }

    &:hover {
        border: 1px solid $primaryColor;
        .pane1 {
            background: #c9ac7e;
        }
        .pane2 {
            background: #edc68a;
        }
        .pane3 {
            background: #ffd578;
        }
        .pane4 {
            background: #bea076;
        }
        .pane5 {
            background: #e5bd84;
        }
        .pane6 {
            background: #ffcc72;
        }
    }
}

h1 {
    grid-area: header;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    
    border: 0.5px solid $primaryColor;
    border-left: none;
    border-top: none;

    @include transition;
    
    a {
        font-family: $headingFontI;
        font-size: calc(3rem + 2.7vw);
        letter-spacing: 8px;
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primaryColor;
        transition: color 0.3s ease-in;
        
        &:hover {
            color: $darkAccent;
        }
    }
}

//sticky h1 on scroll
.fixed-h1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 5rem;
    text-align: left;
    padding: 1.1rem 2rem 0.6rem;
    background-color: $lightAccent;
    width: 100vw;
    border-bottom: 0.5px solid $primaryColor;
    transition: color 0.5s ease-in; 
}

header h2 {
    grid-area: h2;
    
    padding: 30px 20px;
    
    text-transform: uppercase;
    font-size: calc(1.8rem + 0.8vw);
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: calc(2.5rem + 1vw);
    
    border: 0.5px solid $primaryColor;
    border-top: none;
    border-bottom: none;
    
    span {
        display: block;
    }
}

.main-nav {
    grid-area: nav;
    
    ul {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        
    }
}

//main-nav 
.main-nav li {
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    
    border-bottom: 0.5px solid $primaryColor;
    
    &:first-child,
    &:nth-child(3) {
        border-right:0.5px solid $primaryColor;
    }
    
    a {
        padding: 1.5rem 1.5rem 1.5rem 3rem;
        text-align: right;

        background: $offWhite;
        z-index: 1;

        &:hover,
        &:focus {
        background: $gradientPool;
        background-size: 400% 400%;
        animation: Gradient 15s ease infinite;
        }
    }
}

//scroll nav
ul.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 7.3rem;
    z-index: 2;
    
    width: 40%;
    
    li:nth-child(3),
    li:nth-child(4) {
        border-bottom: none;
    }
    
    li {
        font-size: 2rem;
        
        &:first-of-type a,
        &:nth-of-type(3) a{
                border-left: 0.5px solid $primaryColor;
            }

        &:nth-of-type(2) a,
        &:nth-of-type(4) a{
                border-right: 0.5px solid $primaryColor;
            }


        a {
            padding: 0.7rem 1.5rem;
            background: transparent;

            &:hover,
            &:focus {
            background: $gradientPool;
            background-size: 400% 400%;
            animation: Gradient 15s ease infinite;
            }
        }
    }
    
    
}