html {
    font-size: 62.5%;
    color: $primaryColor;
    font-family: 'Lato', sans-serif;
    background-color: $offWhite;

    * {
        margin: 0;
        padding: 0;
    }
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primaryColor;
    text-transform: uppercase;

    &:hover,
    &:focus {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: darken($primaryColor, 10%);
    }
}

header {
    border: 1px solid $primaryColor;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 5rem;
}

h1 {
    text-align: center;
    padding: 80px 10px;
    font-family: 'Sequenz-M-I', sans-serif;
    text-transform: uppercase;
    font-size: calc(3rem + 3vw);
    letter-spacing: 8px;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: darken($primaryColor, 20%);
    border: 0.5px solid $primaryColor;
    border-left: none;
    grid-column: span 2;
}

header h2 {
    text-transform: uppercase;
    font-size: calc(1.5rem + 1vw);
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 4rem;
    border: 0.5px solid $primaryColor;
    border-top: none;
    border-bottom: none;
    padding: 20px 10px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    span {
        display: block;
    }
}

header ul {
    display: flex;
    flex-wrap: wrap;
}


header li {
    border-bottom: 0.5px solid $primaryColor;
    width: 50%;
    text-align: right;
    padding: 10px;
    font-family: 'Sequenz', sans-serif;
    font-size: calc(1.4rem + 1vw);
    letter-spacing: 2px;
}

header li:first-child,
header li:nth-child(3) {
    border-right: 0.5px solid $primaryColor;
}

.small-box {
    background: $gradientOne;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.big-box {
    background: $gradientOne;
}

header .long-box {
    border-top: 0.5px solid $primaryColor;
    grid-column: 1 / -1;
}

main h2 {
    font-family: 'Sequenz', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F5F5F5;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: darken($primaryColor, 10%);
}

.about p {
    font-size: 1.8rem;
    letter-spacing: 0.8px;
    font-weight: 300;
}

.skills li {
    font-size: 2rem;
}

h3 {
    font-family: 'Sequenz', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

.social a {
    font-size: 3rem;
    letter-spacing: 2px;
}

form {
    font-size: 3rem;
}

input,
textarea {
    color: $primaryColor;
    padding: 10px;
    background-color: #F5F5F5;
    border: 1px solid $primaryColor;

    &:hover,
    &:focus {
        background: $gradientOne;
    }
}

button {
    font-family: 'Sequenz', sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
    color: $primaryColor;
    background: #F5F5F5;
    border: 1px solid $primaryColor;

    &:hover,
    &:focus {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primaryColor;
    }
}

::placeholder {
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1;

}