@media (min-width: 1300px) {
    header li {
        font-size: 2.8rem;
    }
}

@media (max-width: 1200px) {
    .contact {
        .social {

            grid-row: 2 / 5;

            ul {
                grid-template-columns: repeat(3, 1fr);
            }

            li:last-of-type {
                grid-column: span 2;
            }
        }
    }
}
