@media (max-width: 1200px) {

    form {
        margin-top: 0;
    }
    .contact {
        grid-template-columns: 10rem 1fr 0.1fr 0.9fr 0.1fr;
        grid-template-rows: 7rem 3rem 1fr 1fr 1fr 7rem 7rem;
        grid-template-areas: 
        "long-box long-box long-box long-box long-box"
        ".      .       .   .    ."
        ".  form      .   social    ."
        ".  form   .   social    ."
        ".      form       .       .    .";
    }

    .social {
        grid-row: 3 / 6;
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
        li:last-of-type {
            grid-column: span 2;
        }
    }
}

@media (max-width: 850px) {

    .long-box { 
        padding: 1rem 6rem;
    }

    .skills {
        grid-template-areas:
        "long-box   long-box    long-box"
        "skills          skills      accordion"
    }

    .currently-learning h3,
    .currently-building h3 {
    text-align: right;

    padding: 1.3rem 4rem 1.3rem 0.1rem;
    }

    div.a-circles {
        padding: 0.2rem 1.5rem;
    }

    .contact {
        grid-template-columns: 6rem 1fr 2rem 0.7fr 2rem;
    }

    .social {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }

        li:last-of-type {
            grid-column: span 1;
        }
    }
}

@media (max-width: 750px) {
    header {
        height: 43vh; 
        min-height: 30rem;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: 10rem 0.1rem 1fr 7rem;
        
        grid-template-areas: 
        "header     header      header"
        "header     header      header"
        "small-box   h2      h2"
        "long-box       long-box        long-box";
    }
        
    h1 {
        justify-content: start;
        align-items: start;
        padding: 3rem;
        position: fixed;
        background-color: $lightAccent;
        width: 100vw;
        border-right: none;
        z-index: 1;
    }
        
    header h2 {
        border-right: none;
    }

    //hide desktop navigation
    .main-nav {
        display: none;
    }

    //show mobile navigation
    .mobile-nav {
        display: block;
    }
}

@media (max-width: 600px) {

    .long-box {
        padding: 1rem 2rem;
    }

    .skills {
        grid-template-rows: 7rem 1fr 1.3fr;
        grid-template-areas: 
        "long-box   long-box    long-box"
        "skills     skills      skills"
        "accordion     accordion      accordion";

    }

    .currently-learning {
        border-top: 0.5px solid $primaryColor;
    }

    .currently-learning h3,
    .currently-building h3 {
        font-size: 2rem;
        padding: 1.3rem 6rem;
    }

    div.a-circles {
        padding: 0.3rem 2.5rem;
    }

    .contact {
        grid-template-columns: 1fr;
        grid-template-rows: 7rem 1.7fr 1fr 7rem;

        grid-template-areas: 
        "long-box"
        "form"
        "social"
        ".";
    }

    .social {
        margin: 0 2rem 2rem 2rem;

        li {
            height: 8rem;
            a {
                font-size: 2.2rem;
                padding: 3rem 6rem;
            }
        }
    }

    form {
        margin: 2rem;
    }
}

@media(max-width: 550px) {
    header {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 7rem 0.1rem 1fr 7rem;
    }

    h1 {
        padding: 1rem;
        a {
            letter-spacing: 4px;
            }
    }
    .about p {
        font-size: 1.8rem;
    }

    .about div.me {
        min-width: 100%;
    }

    .ethereal {
        display: none;
    }

    .portfolio {
        .flex-container {
            margin: 2.5rem 1.5rem;
        }
    }

    .project-container {
        .project {
            margin: 3rem 0;
        }
    }

    .project-info {
        margin: 3rem 0;

        a {
            &:first-of-type {
            bottom: -4.5rem;
            left: 0.7rem;
        }
        &:last-of-type {
            right: 0.7rem;
            bottom: -4.5rem;
        }
        }
    }

    .circles-button {
        top: 1rem;
        right: 2rem;
    }

    .about {
        div {
            min-width: 100%;
        }
    }

    .currently-learning {
        div.a-circles {
            bottom: 0.1rem;
        }
    }
    .social {
        li {
            a {
                padding: 3rem 1.5rem;
            }
        }
    }

}

@media (max-width: 345px) {
    h1 {
        a {
            font-size: 3.5rem;
        }
    }
}