@media (min-width: 1300px) {
    header li {
        font-size: 2.8rem;
    }
}

@media (max-width: 1200px) {
    .contact {
        grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr;
        grid-template-rows: 7rem 3rem 1fr 1fr 1fr 7rem 7rem;

        .social {

            grid-row: 3 / 6;

            ul {
                grid-template-columns: repeat(3, 1fr);
            }

            li:last-of-type {
                grid-column: span 2;
            }
        }
    }

    form {
        grid-row: 3 / 6;

        border-top: 0.5px solid $primaryColor;
    }
}

@media (max-width: 768px) {
    .contact {
        grid-template-columns: 2rem 0.7fr 2rem 1fr 2rem;

        .social {

            ul {
                grid-template-columns: repeat(2, 1fr);
            }

            li:last-of-type {
                grid-column: span 1;
            }
        }
    }
}