.portfolio {
    background-color: $offWhite;
    border-bottom: 0.5px solid $primaryColor;

    .long-box {
        width: 100%;
        height: 7rem;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin: 2.5rem;
    }
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0;
    justify-content: center;
    align-items: center;
    
    .project {
        width: 55rem;
        overflow: hidden;
        border: 0.5px solid $primaryColor;
        margin: 3rem;
    }

    
    img {
        object-fit: contain;
        display: block;
        max-width: 100%;
    }
    
}

.project-info {
    position: relative;
    width: 40rem;
    height: auto;
    margin: 3rem;
    padding-bottom: 3rem;
    border: 0.5px solid $primaryColor;
    
    text-align: center;
    font-size: 1.9rem;
    
    p {
        margin: 3rem 1rem;

    }
    
    h3 {
        padding: 1rem 1rem 0.5rem; 
        background-color: $lightAccent;
    
        border-bottom: 0.5px solid $primaryColor;
    }

    a {
        position: absolute;
        display: inline-block;
        margin: 2rem;
        padding: 1.3rem 2rem;
        background-color: $lightAccent;

        border: 0.5px solid $primaryColor;
        letter-spacing: 1.3px;
        text-transform: uppercase;

        &:hover,
        &:focus {
        background: white;
        box-shadow: inset 0 0 2rem $darkAccent;
        }

        &:first-of-type {
            bottom: -4.5rem;
            left: 2rem;
        }
        &:last-of-type {
            right: 2rem;
            bottom: -4.5rem;
        }
    }
}

