.skills {
    display: grid;
    grid-template-columns: 10rem 1.3fr 2fr;
    grid-template-rows: 7rem 1fr;
    grid-template-areas: 
    "long-box   long-box    long-box"
    ".          skills      accordion";

    background-color: $offWhite;
    border-bottom: 0.5px solid $primaryColor;

}
ul.skills-list {
    grid-area: skills;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;

    border-left: 0.5px solid $primaryColor;

    
    li {
        margin: 1.8rem;
        
        img {
            height: calc(4rem + 2vw);
        }
    }
}


.accordion {
    grid-area: accordion;
    border-left: 0.5px solid $primaryColor;

    display: flex;
    flex-direction: column;
}


.currently-learning h3,
.currently-building h3 {
    text-align: right;

    padding: 1.3rem 6rem;
}

.currently-learning{
    position: relative;
    h3 {
        border-bottom: 0.5px solid $primaryColor;
    }
}

.currently-building {
    margin-top: auto;
    position: relative;

    h3 {
        border-top: 0.5px solid $primaryColor;
    }
}

.a-content {
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding: 0 ;
    opacity: 0;
    background-color: lighten($darkAccent, 5%);
    @include transition;
    
    li {
        display: block;
        font-size: 2rem;
        text-align: right;
        margin: 0 1rem 2.8rem 0;
    }
}
    
.currently-building.active .a-content,
.currently-learning.active .a-content {
    padding: 3rem 3rem 0 3rem;
    max-height: 30rem;
    opacity: 1;
}

div.a-circles {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 0.3rem 2.5rem;

    transform-origin: center;

    div {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        border: 0.5px solid $primaryColor;
        background: $gradientOne;
        margin: 6px 0;
        @include transition;
    }

    &:hover,
    &:focus {
        div {
            background-color: tomato;
        }
    }
}

.currently-building {
    div.a-circles {
    top: 0;
    }

    &.active .a-content {
        border-top: 0.5px solid $primaryColor;
    }
}

.currently-learning {
    div.a-circles {
        bottom: 0.5rem;
    }

    &.active .a-content {
        border-bottom: 0.5px solid $primaryColor;
    }
}

.a-circles.open {
    transform: rotate(90deg);

    div {
        background-color: tomato;
    }
}