.skills {
    display: grid;
    grid-template-columns: 10rem 1.3fr 2fr;
    grid-template-rows: 7rem 1fr;
    grid-template-areas: 
    "long-box   long-box    long-box"
    ".          skills      accordion";

    background-color: $offWhite;
    border-bottom: 0.5px solid $primaryColor;

}
ul.skills-list {
    grid-area: skills;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;

    border-left: 0.5px solid $primaryColor;

    
    li {
        margin: 1.8rem;
        position: relative;
        
        img {
            height: calc(4rem + 2vw);
        }

        p{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.6rem;
            width: auto;
            text-align: center;

            padding: 0.5rem;
            background: $lightAccent;
            outline: 0.5px solid $primaryColor;
            opacity: 0;

            transition: opacity 0.2s ease;

        }

        &:hover,
        &:focus {
            p {
                opacity: 1;
            }
        }
    }
}

.accordion {
    grid-area: accordion;
    border-left: 0.5px solid $primaryColor;

    display: flex;
    flex-direction: column;
}

button.a-button {
    width: 100%;
    background: $offWhite;
    border-radius: 0;
    border: none;
    &:hover,
    &:focus {
        box-shadow: inset 0 0 3rem $darkAccent;
    }   
}

.a-button h3 {
    text-align: right;
    padding: 1.3rem 6rem;
    cursor: pointer;
}

.currently-learning {
    position: relative;

    border-bottom: 0.5px solid $primaryColor;
}

.currently-building {
    margin-top: auto;
    position: relative;

    border-top: 0.5px solid $primaryColor;
}

.a-content {
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding: 0 ;
    opacity: 0;
    background-color: lighten($darkAccent, 5%);
    @include transition;
    
    li {
        display: block;
        font-size: 2rem;
        text-align: right;
        margin: 0 1rem 2.8rem 0;
    }
}
    
.currently-building.active .a-content,
.currently-learning.active .a-content {
    padding: 3rem 3rem 0 3rem;
    max-height: 30rem;
    opacity: 1;
}

.currently-building.active .a-button,
.currently-learning.active .a-button {
    box-shadow: inset 0 0 3rem $darkAccent;
}

div.a-circles {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 0.3rem 2.5rem;

    transform-origin: center;

    div {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        border: 0.5px solid $primaryColor;
        background: $gradientOne;
        margin: 6px 0;
        @include transition;
    }

    &.open {
        transform: rotate(90deg);
        div {
            background: tomato;
        }
    }

    &:hover + button { 
        box-shadow: inset 0 0 3rem $darkAccent;
    }
}


.currently-building {
    div.a-circles {
    top: 0;
    }

    &.active .a-content {
        border-top: 0.5px solid $primaryColor;
    }
}

.currently-learning {
    &.active .a-content {
        border-bottom: 0.5px solid $primaryColor;
    }
}
