html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Sequenz';
  src: url(/assets/fonts/Sequenz_W-Regular.woff2) format("woff2"), url(/assets/fonts/Sequenz_W-Regular.woff) format("woff"), url(/assets/fonts/Sequenz-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Sequenz-M-I';
  src: url(/assets/fonts/Sequenz_W-MediumItalic.woff2) format("woff2"), url(/assets/fonts/Sequenz_W-MediumItalic.woff) format("woff"), url(/assets/fonts/Sequenz-MediumItalic.ttf) format("truetype");
}

html {
  font-size: 62.5%;
  color: #707070;
  font-family: "Overpass", sans-serif;
  background-color: #F5F5F5;
}

html * {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  border: 0.5px solid #707070;
}

ul {
  list-style-type: none;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
}

a:hover, a:focus {
  color: #F5F5F5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #575757;
}

main h2 {
  font-family: "Sequenz-M-I";
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 2px;
  color: #F5F5F5;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #575757;
}

h3 {
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  -ms-grid-rows: 1fr 2fr 1fr 0.7fr 7rem;
      grid-template-rows: 1fr 2fr 1fr 0.7fr 7rem;
  height: 70vh;
  min-height: 500px;
  max-height: 660px;
  border-bottom: 1px solid #707070;
}

header h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
  font-family: "Sequenz-M-I", sans-serif;
  text-transform: uppercase;
  font-size: calc(3rem + 3vw);
  letter-spacing: 8px;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #3d3d3d;
  border: 0.5px solid #707070;
  border-left: none;
  border-top: none;
}

header h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: calc(1.5rem + 1vw);
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: calc(2.5rem + 1vw);
  border: 0.5px solid #707070;
  border-top: none;
  border-bottom: none;
}

header h2 span {
  display: block;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-right: 15px;
  font-size: calc(1.4rem + 1vw);
  letter-spacing: 1px;
  font-weight: 400;
  border-bottom: 0.5px solid #707070;
}

header li a:hover {
  font-weight: 600;
}

header li:first-child, header li:nth-child(3) {
  border-right: 0.5px solid #707070;
}

header .small-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  background: linear-gradient(67deg, rgba(141, 227, 247, 0.3) 0%, rgba(208, 255, 225, 0.3) 100%);
}

header .big-box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  background: linear-gradient(67deg, rgba(141, 227, 247, 0.3) 0%, rgba(208, 255, 225, 0.3) 100%);
}

header .long-box {
  grid-column: 1 / -1;
  border-top: 0.5px solid #707070;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid #707070;
}

.about div {
  height: auto;
  width: 50%;
}

.about div:first-child {
  border-right: 0.5px solid #707070;
}

.about p {
  font-size: 1.8rem;
  letter-spacing: 0.8px;
  font-weight: 300;
  margin: 30px 150px 30px 30px;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1.3fr 2fr;
      grid-template-columns: 10rem 1.3fr 2fr;
  -ms-grid-rows: 7rem 5rem 1fr 5rem;
      grid-template-rows: 7rem 5rem 1fr 5rem;
  border-bottom: 0.5px solid #707070;
}

.skills .long-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  padding: 10px 110px;
  border-bottom: 0.5px solid #707070;
}

.skills .tall-box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  border-right: 0.5px solid #707070;
}

.skills ul {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  padding: 20px;
}

.skills .currently-learning,
.skills .currently-building {
  border-left: 0.5px solid #707070;
  text-align: right;
  padding: 13px 15px;
}

.skills .currently-building {
  grid-column: -2 / -1;
}

.skills .middle {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  height: 50vh;
  border: 0.5px solid #707070;
  border-right: none;
  background: linear-gradient(67deg, rgba(141, 227, 247, 0.3) 0%, rgba(208, 255, 225, 0.3) 100%);
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18rem 1fr 15rem 1fr 18rem;
      grid-template-columns: 18rem 1fr 15rem 1fr 18rem;
  -ms-grid-rows: 7rem 6rem 1fr 6rem 1fr 6rem;
      grid-template-rows: 7rem 6rem 1fr 6rem 1fr 6rem;
  border-bottom: 0.5px solid #707070;
}

.portfolio .long-box {
  grid-column: 1 / -1;
  padding: 10px 110px;
  border-bottom: 0.5px solid #707070;
}

.portfolio .project {
  height: 35vh;
  border: 0.5px solid #707070;
}

.portfolio .p1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background-color: #d1d1fe;
}

.portfolio .p2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background-color: #d1d1fe;
}

.portfolio .p3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  background-color: #d1d1fe;
}

.portfolio .p4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  background-color: #d1d1fe;
}

.portfolio h3 {
  padding: 28px 0 0;
}

.portfolio h3:nth-of-type(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.portfolio h3:nth-of-type(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.portfolio h3:nth-of-type(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.portfolio h3:nth-of-type(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1.2fr 5rem 1fr 10rem;
      grid-template-columns: 10rem 1.2fr 5rem 1fr 10rem;
  -ms-grid-rows: 7rem 1fr 1fr 1.5fr 7rem;
      grid-template-rows: 7rem 1fr 1fr 1.5fr 7rem;
}

.contact h2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  padding: 10px;
}

.contact .social {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.contact .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .social li {
  width: calc(100% /4);
  border: 0.5px solid #707070;
}

.contact .social a {
  font-size: 2.2rem;
  letter-spacing: 2px;
}

.contact form {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

form {
  font-size: 3rem;
}

input,
textarea {
  color: #707070;
  padding: 10px;
  background-color: #F5F5F5;
  border: 1px solid #707070;
}

input:hover, input:focus,
textarea:hover,
textarea:focus {
  background: linear-gradient(67deg, rgba(141, 227, 247, 0.3) 0%, rgba(208, 255, 225, 0.3) 100%);
}

button {
  font-family: "Sequenz-M-I";
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #707070;
  background: #F5F5F5;
  border: 1px solid #707070;
}

button:hover, button:focus {
  color: #F5F5F5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #707070;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #707070;
  opacity: 1;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #707070;
  opacity: 1;
}

::-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #707070;
  opacity: 1;
}

::placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #707070;
  opacity: 1;
}

@media (min-width: 1300px) {
  header li {
    font-size: 2.8rem;
  }
}
