html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Sequenz';
  src: url(/assets/fonts/Sequenz_W-Regular.woff2) format("woff2"), url(/assets/fonts/Sequenz_W-Regular.woff) format("woff"), url(/assets/fonts/Sequenz-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Sequenz-M-I';
  src: url(/assets/fonts/Sequenz_W-MediumItalic.woff2) format("woff2"), url(/assets/fonts/Sequenz_W-MediumItalic.woff) format("woff"), url(/assets/fonts/Sequenz-MediumItalic.ttf) format("truetype");
}

html {
  font-size: 62.5%;
  color: #707070;
  font-family: "Overpass", sans-serif;
  background-color: #F5F5F5;
}

html * {
  margin: 0;
  padding: 0;
}

html.no-scroll {
  position: fixed;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  border: 0.5px solid #707070;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

div.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(28deg, #0034ff 0%, #0099ff 18%, #8de3f7 35%, #00b5ff 52%, #8de3f7 72%, #0099ff 88%, #001aff 100%);
  z-index: 500;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.loader svg {
  height: 50vh;
  margin: auto;
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
}

div.loader .cls-1 {
  fill: none;
  stroke: #707070;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

div.loader.hidden {
  opacity: 0;
  pointer-events: none;
}

ul {
  list-style-type: none;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #707070;
  font-family: "Sequenz";
}

li:hover a {
  color: white;
  text-shadow: 0px 0px 2px black;
}

main h2 {
  font-family: "Sequenz";
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 2px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #707070;
}

h3 {
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  font-size: calc(1.9rem + 0.5vw);
  letter-spacing: 2px;
  font-weight: 400;
}

.long-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: long-box;
  padding: 10px 110px;
  border-bottom: 0.5px solid #707070;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 1.3fr 1.5fr;
      grid-template-columns: 0.7fr 1.3fr 1.5fr;
  -ms-grid-rows: 10rem 2fr 2fr 7rem;
      grid-template-rows: 10rem 2fr 2fr 7rem;
      grid-template-areas: "header     header      nav" "header     header      big-box" "small-box   h2      big-box" "long-box       long-box        long-box";
  height: 70vh;
  min-height: 500px;
  max-height: 660px;
}

header h1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
  border: 0.5px solid #707070;
  border-left: none;
  border-top: none;
}

header h1 a {
  font-family: "Sequenz-M-I", sans-serif;
  font-size: calc(3rem + 2.7vw);
  letter-spacing: 8px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #707070;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

header h1 a:hover {
  color: #fbffe3;
}

header .fixed-h1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 5rem;
  text-align: left;
  padding: 1rem 2rem 0.5rem;
  background-color: #fbffe3;
  width: 100vw;
  border-bottom: 0.5px solid #707070;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

header .fixed-h1:hover {
  color: #8de3f7;
}

header h2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: h2;
  padding: 30px 20px;
  text-transform: uppercase;
  font-size: calc(1.8rem + 0.8vw);
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: calc(2.5rem + 1vw);
  border: 0.5px solid #707070;
  border-top: none;
  border-bottom: none;
}

header h2 span {
  display: block;
}

header nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

header .fixed-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 7.3rem;
  z-index: 2;
  width: 40%;
  border-left: 0.5px solid #707070;
  border-right: 0.5px solid #707070;
}

header .fixed-nav li:nth-child(3),
header .fixed-nav li:nth-child(4) {
  border-bottom: none;
}

header .fixed-nav li {
  font-size: 2rem;
}

header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-right: 15px;
  cursor: pointer;
  font-size: calc(1.6rem + 0.5vw);
  letter-spacing: 1px;
  font-weight: 400;
  border-bottom: 0.5px solid #707070;
}

header li:first-child, header li:nth-child(3) {
  border-right: 0.5px solid #707070;
}

header li:hover {
  background: linear-gradient(28deg, #0034ff 0%, #0099ff 18%, #8de3f7 35%, #00b5ff 52%, #8de3f7 72%, #0099ff 88%, #001aff 100%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
}

header li a {
  padding-left: 3rem;
}

header .small-box {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: small-box;
}

header .big-box {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: big-box;
}

header .long-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: long-box;
  border-top: 0.5px solid #707070;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 0.5px solid #707070;
}

.about div {
  width: 50%;
  min-width: 550px;
  border-left: 0.5px solid #707070;
}

.about p {
  font-size: 1.8rem;
  letter-spacing: 0.8px;
  font-weight: 300;
  margin: 30px;
  margin-right: 12vw;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1.3fr 2fr;
      grid-template-columns: 10rem 1.3fr 2fr;
  -ms-grid-rows: 7rem 5rem 1fr 5rem;
      grid-template-rows: 7rem 5rem 1fr 5rem;
      grid-template-areas: "long-box   long-box    long-box" ".          skills      currently-learning" ".          skills      big-box" ".          skills      currently-building";
  border-bottom: 0.5px solid #707070;
}

.skills ul {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: skills;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-left: 0.5px solid #707070;
}

.skills li {
  margin: 2rem;
}

.skills li img {
  height: calc(4rem + 2vw);
}

.skills .currently-learning,
.skills .currently-building {
  border-left: 0.5px solid #707070;
  text-align: right;
  padding: 13px 15px;
}

.skills .currently-learning {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: currently-learning;
}

.skills .currently-building {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: currently-building;
}

.skills .middle {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: big-box;
  height: 100%;
  border: 0.5px solid #707070;
  border-right: none;
}

.portfolio {
  border-bottom: 0.5px solid #707070;
}

.portfolio .long-box {
  width: 100%;
  height: 7rem;
}

.portfolio .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2.5rem;
}

.portfolio .project-container {
  margin: 2.5rem;
  height: 100%;
  width: 43rem;
  min-width: 25rem;
  border: 0.5px solid #707070;
}

.portfolio .project-container div {
  max-height: 100%;
}

.portfolio h3 {
  padding: 1rem 1rem 0.5rem;
  border-bottom: 0.5px solid #707070;
}

.portfolio img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  max-width: 100%;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1fr 0.1fr 1.1fr 0.1fr;
      grid-template-columns: 10rem 1fr 0.1fr 1.1fr 0.1fr;
  -ms-grid-rows: 7rem 1fr 1fr 1fr 7rem 7rem;
      grid-template-rows: 7rem 1fr 1fr 1fr 7rem 7rem;
      grid-template-areas: "long-box long-box long-box long-box long-box" ".      form       .   .    ." ".  form      .   social    ." ".  form   .   social    ." ".      form       .       .    .";
}

.contact .long-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: long-box;
}

.contact .social {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: social;
  border-top: 0.5px solid #707070;
  border-right: 0.5px solid #707070;
}

.contact .social ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.contact .social li {
  height: 15rem;
  border-bottom: 0.5px solid #707070;
  border-left: 0.5px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.contact .social li:hover {
  background: linear-gradient(28deg, #0034ff 0%, #0099ff 18%, #8de3f7 35%, #00b5ff 52%, #8de3f7 72%, #0099ff 88%, #001aff 100%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
          animation: Gradient 20s ease infinite;
}

.contact .social a {
  font-size: calc(1.5rem + 0.5vw);
  letter-spacing: 2px;
  display: inline-block;
  padding: 6rem 1rem;
}

form {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(1.5rem + 0.5vw);
  border: 0.5px solid #707070;
  margin-top: 15px;
}

input,
textarea {
  font-family: "Overpass", sans-serif;
  color: #707070;
  padding: 13px;
  background-color: #F5F5F5;
  border: none;
  border-bottom: 0.5px solid #707070;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input:hover, input:focus,
textarea:hover,
textarea:focus {
  background: #fbffe3;
}

textarea {
  resize: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  font-family: "Sequenz";
  text-transform: uppercase;
  font-size: calc(3rem + 1vw);
  text-align: left;
  padding: 13px 13px 7px 13px;
  color: #707070;
  background: #F5F5F5;
  border: none;
}

button:hover, button:focus {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #575757;
  background: linear-gradient(28deg, #0034ff 0%, #0099ff 18%, #8de3f7 35%, #00b5ff 52%, #8de3f7 72%, #0099ff 88%, #001aff 100%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #707070;
  opacity: 1;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #707070;
  opacity: 1;
}

::-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #707070;
  opacity: 1;
}

::placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #707070;
  opacity: 1;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 1.6rem;
  border-top: 0.5px solid #707070;
}

.mobile-nav {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 100;
  top: 3rem;
  right: 5rem;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile-nav:hover div {
  background: linear-gradient(67deg, #8de3f7 0%, #d0ffe1 100%);
}

.mobile-nav div {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 0.5px solid #707070;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile-nav div.blue {
  background: linear-gradient(67deg, #8de3f7 0%, #d0ffe1 100%);
}

.mobile-nav.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    translateY: 50px;
  }
  to {
    opacity: 1;
    translateY: 0px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    translateY: 50px;
  }
  to {
    opacity: 1;
    translateY: 0px;
  }
}

@media (max-width: 1200px) {
  form {
    margin-top: 0;
  }
  .contact {
    -ms-grid-columns: 10rem 1fr 0.1fr 0.9fr 0.1fr;
        grid-template-columns: 10rem 1fr 0.1fr 0.9fr 0.1fr;
    -ms-grid-rows: 7rem 3rem 1fr 1fr 1fr 7rem 7rem;
        grid-template-rows: 7rem 3rem 1fr 1fr 1fr 7rem 7rem;
        grid-template-areas: "long-box long-box long-box long-box long-box" ".      .       .   .    ." ".  form      .   social    ." ".  form   .   social    ." ".      form       .       .    .";
  }
  .contact .social {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3 / 6;
  }
  .contact .social ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .contact .social li:last-of-type {
    grid-column: span 2;
  }
}

@media (max-width: 850px) {
  .long-box {
    padding: 1rem 6rem;
  }
  .skills {
        grid-template-areas: "long-box   long-box    long-box" "skills          skills      currently-learning" "skills          skills      big-box" "skills          skills      currently-building";
  }
  .contact {
    -ms-grid-columns: 6rem 1fr 2rem 0.7fr 2rem;
        grid-template-columns: 6rem 1fr 2rem 0.7fr 2rem;
  }
  .contact .social ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact .social li:last-of-type {
    grid-column: span 1;
  }
}

@media (max-width: 750px) {
  header {
    height: 50vh;
    min-height: 30rem;
    -ms-grid-columns: 1.5fr 1fr 1fr;
        grid-template-columns: 1.5fr 1fr 1fr;
    -ms-grid-rows: 10rem 0.1rem 1fr 7rem;
        grid-template-rows: 10rem 0.1rem 1fr 7rem;
        grid-template-areas: "header     header      header" "header     header      header" "small-box   h2      h2" "long-box       long-box        long-box";
  }
  header h1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 3rem;
    position: fixed;
    background-color: #fbffe3;
    width: 100vw;
    border-right: none;
  }
  header h2 {
    border-right: none;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    padding-top: 10rem;
    background-color: #fbffe3;
    opacity: 98%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  header ul li {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 7rem;
    font-size: 3rem;
    opacity: 0;
  }
  header ul li:first-child {
    border-top: 0.5px solid #707070;
    border-right: none;
  }
  header ul li:nth-child(3) {
    border-right: none;
  }
  header .nav-open {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    z-index: 10;
  }
  header .mobile-nav {
    display: block;
  }
}

@media (max-width: 600px) {
  .long-box {
    padding: 1rem 2rem;
  }
  .skills {
    -ms-grid-rows: 7rem 1fr 5rem 0.7fr 5rem;
        grid-template-rows: 7rem 1fr 5rem 0.7fr 5rem;
        grid-template-areas: "long-box   long-box    long-box" "skills     skills      skills" "currently-learning     currently-learning      currently-learning" "big-box          big-box      big-box" "currently-building     currently-building      currently-building";
  }
  .skills .currently-learning {
    border-top: 0.5px solid #707070;
  }
  .skills .project div {
    height: 25rem;
    width: 32rem;
  }
  .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 7rem 1.7fr 1fr 7rem;
        grid-template-rows: 7rem 1.7fr 1fr 7rem;
        grid-template-areas: "long-box" "form" "social" ".";
  }
  .contact .social {
    margin: 0 2rem 2rem 2rem;
  }
  .contact .social li {
    height: 8rem;
  }
  .contact .social li a {
    font-size: 2.2rem;
    padding: 3rem 6rem;
  }
  form {
    margin: 2rem;
  }
}

@media (max-width: 550px) {
  header {
    -ms-grid-columns: 0.5fr 1fr 0.5fr;
        grid-template-columns: 0.5fr 1fr 0.5fr;
    -ms-grid-rows: 7rem 0.1rem 1fr 7rem;
        grid-template-rows: 7rem 0.1rem 1fr 7rem;
  }
  header h1 {
    padding: 1rem;
  }
  header h1 a {
    letter-spacing: 4px;
  }
  .mobile-nav {
    top: 1rem;
    right: 2rem;
  }
  .about div {
    min-width: 100%;
  }
  .contact .social li a {
    padding: 3rem 1.5rem;
  }
}

@media (max-width: 345px) {
  header h1 a {
    font-size: 3.5rem;
  }
  .burger {
    top: 0.7rem;
  }
}
